* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

@media screen and (max-width: 768px) {
  /* Điều chỉnh CSS cho kích thước màn hình nhỏ hơn hoặc bằng 768px */
  .banhngot-item {
      width: 100%;
      margin: 0;
  }
.banhkem-item{
  width: 100%;
  margin: 0;
}
.banhman-item{
  width:  100%;
  margin: 0;
}

.nuocngot-item {
  width:  100%;
  margin: 0;
}

header {
  padding: 12px 20px; 
  height: auto; 
}

.Menu {
    width: 100%;
    margin: 0;  

 
}

.Other {

flex: 1; 
  justify-content: flex-end; 
}

.Other li {
  margin-left: 10px; 
}

.bx-search,
.bx-user,
.bx-cart {
  font-size: 20px; 
}
  
}
li {
  list-style: none;
}
a {
  text-decoration: none ;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  align-items: center;

}


.Logo {
  flex: 1;
}
.Menu {
  flex: 3;
  display: flex;
}
.Menu > li {
  padding: 0 12px;
}

.Other{
  flex: 1;
  display: flex;
}
.Other > li {
  padding: 0 12px;
}

.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.menu-ngang {
  display: flex;
  margin: 3%;
  list-style-type: none;
  padding: 0;
}

.menu-ngang li {
  display: flex;
  align-items: center;
}

.menu-ngang li:not(:last-child)::after {
  content: "/";
  margin: 0 10px;
}


.banhngot-item {
  display: inline-block;
  width: 30%; /* Điều chỉnh độ rộng tối đa cho mỗi mục */
  margin: 0 1.5%; /* Điều chỉnh khoảng cách giữa các mục */
  vertical-align: top; /* Đảm bảo các mục nằm trên cùng một dòng */
  text-align: center; /* Căn giữa nội dung trong mỗi mục */
}
.banhman-item {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: center;
}
.banhkem-item {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: center;
  flex-direction: column;
}
.nuocngot-item {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: center;
}

.cart{
  padding: 100px 0;
}
.cart-top-ngang{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-top{
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}
.cart-top-it {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cart-ben-trai {
  flex: 2;
  padding-right: 12px;
}
.cart-ben-trai table {
  width: 50%;
  text-align: center;
 
}
.cart-ben-trai table input {
  width: 30px;
}
.cart-ben-trai table td:first-child img {
  width: 130px;
}

.cart-ben-phai {
  width: 30%;
  text-align: center;
  }
.cart-ben-phai table {
  width: 130%;
}
.cart-ben-phai table td {
  width: 100%;
  font-size: 20px;
}
.cart-ben-phai-button {
  width: 130%;

}
.cart-ben-phai-dangnhap {
  width: 100%;
}